

body {
  font-family: 'Mitr', sans-serif;
  display: flex;
  justify-content: center; 
  background: linear-gradient(#272D33, #2e343a);
  color: white;
   min-height: 140vh; 
}
h2{
  font-size: 25px;
}
p {
  font-weight: 300;
  color: lightgray;
}
b{
  font-weight: 400;
  color: #4c8ac1;
}
